<html>
  <head>
    <title>Demo - PingOne OIDC 1.0 Basic Profile</title>
  </head>
  <body>
    <h1>PingOne OIDC 1.0 Basic Profile</h1>
    <p>Log in with OpenID Connect (PingOne IDaaS): <a href="/auth">Login</a></p>
  </body>
</html>
