
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: '8081'
    NODE_ENV: 'production'
    SCOPE: 'openid'
    RESPONSE_TYPE: 'code'
    FORCE_SSL: false
    ISSUER: 'https://sso.connect.pingidentity.com/1dcbef56-91e5-4e9d-a7ab-aaf9a4f30a67'
    AUTH_URL: 'https://sso.connect.pingidentity.com/sso/as/authorization.oauth2'
    CERT_URL: 'https://sso.connect.pingidentity.com/sso/as/jwks'
    TOKEN_URL: 'https://sso.connect.pingidentity.com/sso/as/token.oauth2'
    CALLBACK_URL: 'https://pingone-oidc-dev.7ypz2h2yyg.us-west-1.elasticbeanstalk.com/auth/callback'
    USER_URL: 'https://sso.connect.pingidentity.com/sso/idp/userinfo.openid'
    KEY: 'private-key.pem'
    CERT: 'public-cert.pem'
    CLIENT_ID: '1dcbef56-91e5-4e9d-a7ab-aaf9a4f30a67'
    CLIENT_SECRET: 'dJM2JeL5rpz8FVwK79B8PWSar1auueNqtr2g2HVK8D5Hckp2MWgdPpRlBvCpS0c38'

